<h1><%= @system.model %> Successful Connection Histoy</h1>
<ul>
    <% @cons.each do |c| %>
    <li> <%= "#{c.user}:#{c.pass}@#{c.ip} authenticated at #{c.tod}" %></li>
    <%end%>
</ul>
<br/>
<div class="digg_pagination">
<%= will_paginate @cons %>
</div>
<br/>
<a href="<%= url_for '/'+@system.id.to_s %>">Back to System Page</a>

