<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Lab Systems</title>
    <script type='text/javascript'>
      function get_sys_status() {
          $.ajax({
            url:'systems',
            type:'get',
            success: function(data) {
              $("#systems_table").fadeOut(function() {
                $(this).html(data).slideDown()
              })
              setTimeout(get_sys_status, 60*60*1000);
            }
          });
      }

      $(document).ready(function(){
        get_sys_status();
      });
    </script>
    <style>
    </style>
  </head>
  <body>
    <h1>Systems</h1>
    <div id='systems_table'>
      <%= erb :'_systems_table', :locals => {:update => false} %>
    </div>

    <a href="/systems/new">Add new System</a>


  </body>
</html>
