[Unit]
Description=Lab Systems
After=network.target

[Service]
User=cchiang
Restart=always
StartLimitBurst=0
Environment=SYSTEMD_LOG_LEVEL=debug
RestartSec=5
#WorkingDirectory=~
ExecStart=/usr/local/rvm/bin/rvm-exec /home/cchiang/lab_systems/start_server.sh 
TimeoutStopSec=3
#KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
